html, body {
  background: #f0f0f0;
}

.ad {
  position: relative;
  & > img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
    position: relative;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    width:100%;
  }
  .notice {
    padding: 1rem;
    background: white;
    font-size: 12px;
  }

  .btn-box {
    text-align: center;
    padding: 1rem;

    a {
      display: block;

      .mint-button {
        width: 50%;
      }
    }
  }
}