.index-list {
  .listView-text-title {
    display: flex;

    .shop-name {
      width: 0;
    }

    .shopping {
      width: 0;
    }
  }

  .none-store {
    padding: 2rem 1rem;
    text-align: center;
  }

  .no-data {
    line-height: 3;
    text-align: center;
    border-top: 1px solid #ddd;
  }
}
.listView-text-score {
  display: inline-flex;

  .icon-xingxing {
    color: #FF8500;
    font-size: 1rem;

    &.grey-star {
      color: #BFBFBF;
    }
  }

  .icon-yibanxingxing1 {
    color: #ff8500;
  }

  .number {
    color: #FFAA2A;
  }

  .iconfont {
    margin-right: 0.2rem;

    &:nth-child(5) {
      margin-right: 0;
    }
  }
}

html, body {
  height: 100%;
}

a {
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
}

.having-shop {
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: 400;
  font-size: 17px;
}

.content-center {
  padding: 0.4rem 0.8rem;
  display: flex;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
}

.content-center .img {
  width: 5rem;
  height: 5rem;
  margin-right: 0.4rem;
}

.listView-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.listView-text-title {
  display: flex;
}

.shop-name {
  margin-right: 0.3rem;
  flex-grow: 2;
}

.shopping {
  flex-grow: 1;
}

.icon-renzheng {
  color: #FFAA2A;
  margin-left: 0.3rem;
}

.percent {
  font-size: 0.9rem;
  margin-left: 0.2rem;
  flex: 1;
}

.perfect-information {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.8rem;
}
.mint-button--default{
  border: 1px solid #000;
}
.mint-button--small{
  height: 30px;
}

.hr {
  height: 0.3rem;
  background-color: #F0F0F0;
}

.review-days {
  font-size: 0.95rem;
  padding: 0.4rem 0.8rem 1rem;
}

.failed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem 0 0;
}

.tips {
  padding: 3rem 0;
  text-align: center;
}

#data-integrity {
  width: 30%;
  border-radius: 0.5rem;
}



#mint-button {
  font-size: 0.9rem;
  margin: 0.5rem 0 1rem;
}

#mt-progress-runway {
  border-radius: 5%;
}

.mt-progress {
  font-size: 0.9rem;
  padding: 0;
  margin-top: 0.5rem;
}

.mt-progress-runway {
  border-radius: 10px;
}

#mt-progress-progress .mt-progress-progress {
  background-color: #F46C5A;
  border-radius: 10rem;
}

.mt-progress-content {
  margin-right: 10px;
}

#mt-progress-progress {
  height: 23.5px;
}
.mint-button{
  border-radius: 20px !important;
}
.mint-button--default{
  background-color: #FFFFFF;
}